@import "fonts";
@import "reset";

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}

body {
   font-family: CormorantUpright;
   background-color: #000;
   color: #fff;
   font-size: 10px;
}
